<div class="splash-image">
    <div class="w3-container" style="padding:120px 16px" id="about">

        <div class="ui block header" id="splash-box">

      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <h6> <%= e %></h6>
        <% end %>
        <% end %>

<h5><%= image_tag "stadium.png" %></h5>
    <h1 class="ui header"> Welcome Back! </h1>
  <h5 class="ui sub header"> Sign In Below </h5>
<br>

<form action="<%= session_url %>" method="post" class="ui form">
  <%= auth_token_input %>

  <label for="user_username">
    Username</label>
    <input type="text" name="user[username]" value="" id="user_username">


  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Sign In" class="positive ui button">
</form>
