<!--  Like new event- will just be a form to choose from the drop down: all the current goals a user has (need to add a column to view whether a goal is retired or not [helps with viewing history]) and then a form for the user to enter their note-along with the goal name


  <select name="cars">
  <option value=" ">Volvo</option>
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>
</select>

-->
