<div class="splash-image">
    <div class="w3-container" style="padding:80px 16px" id="about">

        <div class="ui block header" id="splash-box">

      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
        <h6> <%= e %></h6>
        <% end %>
        <% end %>

<h5><%= image_tag "stadium.png" %></h5>
    <h1 class="ui header"> Welcome! </h1>
  <h5 class="ui sub header"> Sign Up Below </h5>
  <br>
<form action="<%= users_url %>" method="post" class="ui form">
  <%= auth_token_input %>

  <label>
    Name
    <input type="text" name="user[name]" value="">
  </label>

  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <br>

              <button class="positive ui button" type="submit">Let's go!</button>
              <br>

          <br>
  </div>
</div>
</div>
