<%= month_calendar events: events do |date, events| %>
  <%= date.strftime('%d') %>

  <% events.each do |event| %>
    <div class='event_label'>
      Completed:  <%=link_to event.name, goals_path %>
    </div>
  <% end %>
<% end %>
