<%= month_calendar events: events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div class='event_label'>
      <%=link_to event.name, events_path %>
    </div>
  <% end %>
<% end %>
