
<div class="splash-image">
    <div class="w3-container" style="padding:100px 16px" id="about">

        <div class="ui block header" id="splash-box">

      <%= form_for(@event) do |f| %>

        <h2 font="Spicy Rice class" class="ui header">Awesome you completed your goal for the day!</h2>

        <img src="https://media.giphy.com/media/pQtfj3DowAhDG/giphy.gif">
      </img>
<br> <br>
        <%= f.hidden_field :start_time, :value => @achievement.created_at %>
        <%= f.hidden_field :name, :value => @goal.name %>
        <%= f.submit "Accept Compliment" %>

      <% end %>
      </div>
    </div>
   </div>
