<!-- GOAL -->

<div class="w3-container" style="padding:100px 16px" id="about">
    <div class="w3-center">
  <h3 class="w3-padding-16 w3-text-dark-grey">GOAL : <%= @goal.name %> <br> Target # of days in a week : <%= @goal.weekly_occurance %> </h3>
</div>
</div>
<br>


  <div class="w3-center">

<br>
<br>
<%= link_to "EDIT", edit_goal_path(@goal)%>
<br>
<br>

<!-- CALENDAR-->
INSERT AWESOME CALENDAR HERE
<br>
<br>
<br>
<!-- PROGRESS BAR  -->
    <!-- <p class="w3-wide"> % to completion</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:30px;width:40%"></div>
    </div>
    <br> -->

<!-- NOTES  -->
</div>
