// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// style {
//   position: relative;
//  overflow: scroll;
//  width: 1000px;
//  height: 800px;
//
// }

.event_label {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  background-color: lightblue;
  // font-family: 'Berkshire Swash', cursive;
  font-family: 'Peralta', cursive;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
}



#background_img {
  // overflow: scroll;
    background-image: url("new.jpg");
    height: 100%;
    // background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
